{% load static %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock title %}</title>
    {% block script %}{% endblock script %}
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="font-sans antialiased bg-gray-100">
    <div class="flex min-h-screen">
      <!-- Sidebar -->
      <aside class="flex flex-col justify-between w-64 text-white bg-gray-800">
        <div class="p-6">
          <div class="flex items-center justify-center mb-8">
            <img src="{% static "images/logo.png" %}" alt="logo du site"
            width="50px" height="50px" class="mr-3" />
            <h2 class="text-3xl font-semibold">Mon Etab</h2>
          </div>

          <nav>
            <ul>
              <li class="mb-4">
                <a
                  href="{% url 'dashboard:index' %}"
                  class="flex items-center hover:text-gray-400"
                >
                  <span class="mr-2">🏠</span> Tableau de bord
                </a>
              </li>
              <li class="mb-4">
                <a
                  href="{% url 'student:index' %}"
                  class="flex items-center hover:text-blue-500"
                >
                  <span class="mr-2">👥</span> Élèves
                </a>
              </li>
              <li class="mb-4">
                <a
                  href="{% url 'teacher:index' %}"
                  class="flex items-center hover:text-gray-400"
                >
                  <span class="mr-2">👩‍🏫</span> Professeurs
                </a>
              </li>
              <li class="mb-4">
                <a
                  href="{% url 'users:index' %}"
                  class="flex items-center font-medium text-blue-400 hover:text-gray-400"
                >
                  <span class="mr-2">👤</span> Utilisateurs
                </a>
              </li>
              <li class="mb-4">
                <a
                  href="{% url 'rapport:index' %}"
                  class="flex items-center hover:text-gray-400"
                >
                  <span class="mr-2">📊</span> Rapport
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="p-6">
          <a
            href="#"
            class="flex items-center justify-center text-gray-400 hover:text-white"
          >
            <span class="mr-2">🔓</span> Déconnexion
          </a>
        </div>
      </aside>

      {% block content%} {% endblock %}
    </div>
  </body>
</html>
