{% extends "./base.html" %} {% load static %} {% block title %}Mon Etab -
utilisateurs{% endblock %} {% block content %}
<!-- Main Content -->
<div class="flex-1 p-6">
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-2xl font-semibold">utilisateurs (2)</h1>
    <a
      href=" {% url 'users:add' %} "
      class="flex items-center text-blue-500 hover:text-blue-700"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-5 w-5 mr-2"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M12 4v16m8-8H4"
        />
      </svg>
      Nouvel utilisateurs
    </a>
  </div>
  <div class="bg-white p-6 rounded-lg shadow overflow-auto">
    <table class="min-w-full divide-y divide-gray-200">
      <thead class="bg-gray-50">
        <tr>
          <th
            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
          >
            Nom
          </th>
          <th
            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
          >
            Prénom
          </th>
          <th
            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
          >
            Genre
          </th>
          <th
            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
          >
            Classe
          </th>
          <th
            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
          >
            Matricule
          </th>
          <th
            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
          >
            Âge
          </th>
          <th
            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
          >
            Téléphone
          </th>
          <th
            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
          >
            Ville
          </th>
          <th
            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
          >
            Actions
          </th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        <tr>
          <td class="px-6 py-4 whitespace-nowrap">KOFFI</td>
          <td class="px-6 py-4 whitespace-nowrap">George</td>
          <td class="px-6 py-4 whitespace-nowrap">M</td>
          <td class="px-6 py-4 whitespace-nowrap">Tle</td>
          <td class="px-6 py-4 whitespace-nowrap">GDJ7GDGD</td>
          <td class="px-6 py-4 whitespace-nowrap">25</td>
          <td class="px-6 py-4 whitespace-nowrap">0123456789</td>
          <td class="px-6 py-4 whitespace-nowrap">Bonoua</td>
          <td class="px-6 py-4 whitespace-nowrap">
            <a
              href=" {% url 'users:edit' %} "
              class="bg-yellow-500 hover:bg-yellow-600 text-white font-bold py-1 px-4 rounded"
            >
              Modifier
            </a>
          </td>
        </tr>
        <tr>
          <td class="px-6 py-4 whitespace-nowrap">KONÉ</td>
          <td class="px-6 py-4 whitespace-nowrap">Sali</td>
          <td class="px-6 py-4 whitespace-nowrap">F</td>
          <td class="px-6 py-4 whitespace-nowrap">2nd</td>
          <td class="px-6 py-4 whitespace-nowrap">GDJ7GDGD</td>
          <td class="px-6 py-4 whitespace-nowrap">22</td>
          <td class="px-6 py-4 whitespace-nowrap">0123456789</td>
          <td class="px-6 py-4 whitespace-nowrap">Abidjan</td>
          <td class="px-6 py-4 whitespace-nowrap">
            <a
              href="{% url 'users:edit' %} "
              class="bg-yellow-500 hover:bg-yellow-600 text-white font-bold py-1 px-4 rounded"
            >
              Modifier
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}
